<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- link CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">

    

</head>
<body>

    <div class="welcome">
        <h1 id="headerContent"><%- intro %></h1>
        <a href="<%= path %>about" id="aboutButton" class="btn btn-outline-dark rounded-pill p-4 " >About Me</a>
        <a href="<%= path %>contact" id="contactButton" class="btn btn-outline-dark rounded-pill p-4" >Contact</a>
    </div>

    <!-- animation for homepage, headercontent will change when mouse is over button -->
    <%- include("animate") -%>
    
    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
    crossorigin="anonymous">
    </script>

</body>
</html>